.collect {
  min-height: 380px;

  &__image {
    height: 160px;
  }

  &__progress {
    border-bottom: 3px solid var(--bg-color-border);
  }

  &__footer {
    display: grid;
    row-gap: var(--space-s);
  }
}

.collect__done {
  height: 8px;
  width: 100%;
  background-color: #0070f0;

  &_size_one-third {
    width: calc(100% / 3);
  }

  &_size_half {
    width: 50%;
  }

  &_size_two-third {
    width: calc(100% / 3 * 2);
  }
}

