.footer {
  max-width: 1144px;
  margin: 0 auto;
  padding: var(--space-xxxl) var(--header-footer-padding);

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
