.history {
  &__details {
    display: flex;
    width :100%;
  }

  &__pic {
    height: 0;
    margin-top: -68px;
  }

  &__destination {
    width: 100%;
  }

  &__time {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__label {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__show {
    width: 100%;
  }
}
