.card {
  position: relative;

  &_border_all {
    border: solid 3px var(--bg-color-border);
  }

  &_view_default {
    background-color: var(--bg-color-default);
  }
}

.card__content {
  display: flex;
  flex-direction: column;

  &_distribute_center {
    justify-content: center;
  }

  &_vertical-align_center {
    align-items: center;
  }

  &_space-a_m {
    padding: var(--space-m);
  }

  &_space-a_l {
    padding: var(--space-l);
  }

  &_space-a_xl {
    padding: var(--space-xl);
  }

  &_space-a_xxl {
    padding: var(--space-xxl);
  }
}

.card__footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  flex-direction: column;

  &_distribute_between {
    justify-content: space-between;
  }

  &_distribute_center {
    justify-content: center;
  }

  &_distribute_right {
    justify-content: flex-end;
  }

  &_vertical-align_top {
    align-items: flex-start;
  }

  &_vertical-align_center {
    align-items: center;
  }

  &_vertical-align_bottom {
    align-items: flex-end;
  }

  &_space-a_m {
    padding: var(--space-m);
  }

  &_space-a_l {
    padding: var(--space-l);
  }

  &_space-a_xl {
    padding: var(--space-xl);
  }

  &_space-a_xxl {
    padding: var(--space-xxl);
  }
}
