.section {
  &_indent-b_xxl {
    margin-bottom: var(--space-xxl);
  }

  &_indent-b_xxxxl {
    margin-bottom: var(--space-xxxxl);
  }

  &_space-v_xxl {
    padding-top: var(--space-xxl);
    padding-bottom: var(--space-xxl);
  }

  &_space-v_xxxxl {
    padding-top: var(--space-xxxxl);
    padding-bottom: var(--space-xxxxl);
  }
}
