.text {
  &_align_center {
    text-align: center;
  }

  &_size_s {
    --text-height: var(--text-height-s);
    --line-height: var(--line-height-s);
    --word-width-s: 20px;
    --word-width-m: 48px;
    --word-width-l: 100px;
  }

  &_size_m {
    --text-height: var(--text-height-m);
    --line-height: var(--line-height-m);
    --word-width-s: 24px;
    --word-width-m: 56px;
    --word-width-l: 114px;
  }

  &_size_l {
    --text-height: var(--text-height-l);
    --line-height: var(--line-height-l);
    --vertical-align: middle;
    --word-width-s: 28px;
    --word-width-m: 68px;
    --word-width-l: 138px;
  }

  &_size_xl {
    --text-height: var(--text-height-xl);
    --line-height: var(--line-height-xl);
    --word-width-s: 32px;
    --word-width-m: 74px;
    --word-width-l: 154px;
  }

  &_size_xxl {
    --text-height: var(--text-height-xxl);
    --line-height: var(--line-height-xxl);
    --word-width-s: 36px;
    --word-width-m: 88px;
    --word-width-l: 184px;
  }

  &_type_h1 {
    margin: 15px 0 21px;
  }

  &_type_h2 {
    margin: 48px 0 20px;
  }

  &_type_h3 {
    margin: 43px 0 0;
  }

  &_type_p {
    margin: 15px 0 21px;
  }

  @each $val in primary, secondary, ghost, link {
    &_view_#{$val} {
      --text-color: var(--text-color-#{$val});
    }
  }

  line-height: var(--line-height);
}

.text__word {
  display: inline-block;
  vertical-align: var(--vertical-align);
  height: var(--text-height);
  background-color: var(--text-color);

  &_width_s {
    width: var(--word-width-s);
  }

  &_width_m {
    width: var(--word-width-m);
  }

  &_width_l {
    width: var(--word-width-l);
  }
}
